name: Java CI

on: [push, pull_request, workflow_dispatch]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4
      
    - name: Set up JDK 1.8
      uses: actions/setup-java@v2.1.0
      with:
        java-version: 8
        distribution: zulu
        java-package: jdk
        
    - name: Maven version
      run: mvn -v

    - name: Test
      run: mvn test verify

    - name: Build
      run: mvn package
